<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>About</title>
  <meta name="description" content="About Page of Weather App">
  <meta name="author" content="Tomas Lastovka">
  <meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png"> -->
 <!-- Place favicon.ico in the root directory -->
  <link rel="icon" href="/img/cloud.png"
  >
 <!-- STYLING -->
 <link rel="stylesheet" href="css/styles.css">

 <meta name="theme-color" content="#fafafa">

</head>

<body>

  <!-- Add your site or application content here -->

  <!-- <p>Hello world! This is HTML5 Boilerplate.</p>  -->
  <div class="main-content">
  <header> {{>header}} </header>
  <p>This site was created by: {{ name }}. It uses data from DarkSky and MapBox.com</p>
  <img class="portrait" src="img/myPicture.JPG">

  </div>




  <footer> {{>footer}} </footer>








<!-- SCRIPTS -->

<script src="js/app.js"></script>

</body>

</html>