<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Help</title>
  <meta name="description" content="Help Page of Weather App">
  <meta name="author" content="Tomas Lastovka">
  <meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png"> -->
  <!-- Place favicon.ico in the root directory -->
  <link rel="icon" href="/img/cloud.png">

 <!-- STYLING -->
 <link rel="stylesheet" href="css/styles.css">

 <!-- <meta name="theme-color" content="#fafafa"> -->

</head>

<body>

  <!-- Add your site or application content here -->
  <!-- This is HTML5 Boilerplate.  -->

  <div class="main-content">

  <header>{{>header}}</header>
  <p>Please read the following message: {{message}}</p>
  <p>The message comes from: {{ from }}</p>

  </div>


   {{>footer}}

<!-- SCRIPTS -->

</body>

</html>